html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}

main {
    height: calc(100% - 100px);
}

label {
    color: white;
}

img {
    width: 450px;
    height: 450px;
}

.profilForm {
    background-color: lightgrey;
    padding: 100px !important;
}

#labelStatus {
    text-align: center;
    font-size: 1.5em;
}

h2,
h3 {
    margin: 1rem 1.2rem 1rem 1.4rem;
}

header {
    border-bottom: #5795b9 solid;
    padding-left: 0.5rem;
}

.panel {
    border: 1px solid #005b81;
    border-radius: 4px;
    box-shadow: rgb(184, 196, 194) 0px 4px 10px -4px;
    box-sizing: border-box;

    padding: 1rem 1.5rem;
    margin: 1rem 1.2rem 1rem 1.2rem;
}

#login {
    background: white;
}

#read {
    background: #e6f4f9;
}

.labelStatus[role="alert"] {
    padding-left: 1rem;
    color: purple;
}

.display {
    margin-left: 1rem;
    color: gray;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dd {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
   .myIMG {
       display: none;
   }
}
